@component-namespace sc {
    @b multiselect {
        height:auto;
        padding: 0;
        &.selected {
			background:var(--color-white);
            &.hover {
                background:var(--color-white);
            }
        }
        &.el-select-dropdown__item:hover,  &.el-select-dropdown__item.hover {
        	background:#fff;
        }
        &:focus {
        	background:none;
        }
        .el-checkbox {
        	width: 100%;
        	padding-top: 9px;
        	padding-left: 10px;
			padding-bottom: 3px;
        	&:hover {
        		background:var(--select-option-hover-background);
        	}
        }
    }
}

